{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="center_title_bar">
    <!--    {{ product.name }} -->
    <h6><a href="{% url 'product_edit' product.id %}" class="btn btn-primary" role="button">✏️ Edit</a> &nbsp;&nbsp;<a
            class="btn btn-primary" role="button" href="{% url 'product_delete' product.id %}" class="">🗑 Delete</a>
    </h6>
</div>
<div class="prod_box_big">
    <div class="top_prod_box_big"></div>
    <div class="center_prod_box_big">
        <div class="product_img_big"><a href=""
                                        title="header=[Zoom] body=[&nbsp;] fade=[on]"><img
                src="{{ product.picture.url }}" style="width:100px; height:120px;" alt="" border="0"/></a>
            <div class="thumbs"></div>
        </div>
        <div class="details_big_box">
            <div class="product_title_big">{{ product.name }}</div>
            <div class="specifications">
                Disponibilitate: <span class="blue">In stoc</span><br/>
                Garantie: <span class="blue">{{ product.garantie}} month</span><br/>
                Tip Deleviry transport: <span class="blue">Express24</span><br/>
                Type: <span class="blue">{{ product.type }}</span><br/>
            </div>
            <div class="prod_price_big"><span class="reduce">{{ product.reduced }}</span> <span class="price">{{ product.price}}$</span>
            </div>
            <a href="#" class="addtocart">add</a> <a href="#" class="compare">compare</a>
        </div>
    </div>

</div>

{% endblock content %}











